body {
    background-color: darkgoldenrod;
}

/* Exemplo de Flex Items: Order */
.ex1 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

/* Exemplo de Flex-Grow */
.ex2 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
}

.ex2 div {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

/* Exemplo de Flex-Grow */
.ex3 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
}

.ex3 div {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

/* Exemplo de Flex-Basis */
.ex4 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
}

.ex4 div {
    width: 100px;
    height: 100px;
    background-color: darkgreen;
}

/* Exemplo de Align-self: center */
.ex5 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
    height: 200px;
}

.ex5 div {
    width: 100px;
    background-color: darkgreen;
}

.ex5 #it3{
    align-self: center;
    background-color: rebeccapurple;
    height: 100px;
}

/* Exemplo de Align-self: flex-star e align-self: flex-end */
.ex6 {
    display: flex;
    gap: 30px;
    background-color: lightgreen;
    height: 200px;
}

.ex6 div {
    width: 100px;
    background-color: darkgreen;
}

.ex6 #item2 {
    align-self: flex-start;
    background-color: rebeccapurple;
    height: 100px;
}

.ex6 #item3 {
    align-self: center;
    background-color: rebeccapurple;
    height: 100px;
}

.ex6 #item4 {
    align-self: flex-end ;
    background-color: rebeccapurple;
    height: 100px;
}